.card-img-top{
    height: auto;
    width: 100px;
}

.card-img-top:hover{
    height: auto;
    width: 110px;
    transition: width 0.3s,transform 2s;
}

.card:hover{
    /* --bs-card-border-color:red; */
    transition: color 2s ease;
    transition-timing-function: linear;
    box-shadow: #eb1f1fc7 0px 25px 20px -20px;
}

.card-title{
    font-size: 10px;
}
.buy-btn{
    margin-bottom:20px;
}